*{
    
    padding:10; 
    box-sizing: border-box;
   
    
}
body{
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 20px;
    width: 50%;
    height: 80%;
    
}
.a{
    background-color: #EAEAEA;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
div h1{
    
    color: #231751;
}
.project-item{
    background-color: #231751;
    padding: 5px;
    margin: 5px ;
    border: #513e17;
    border-radius: 5px;
}
.project{
    display: flex;
    flex-wrap: wrap;
    
}
.button1{
    background-color: #BC2229;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.button1:hover{
    background-color: #090909;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button2{

    background-color: #EAEAEA;
    color: #231751;
    padding: 10px 20px;
    border: none solid ;
    border-radius: 5px;
    cursor: pointer;
}
.button2:hover{
    background-color: #090909;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.benefits {
    text-align: left;
    margin-top: 20px;
    
   
}
.benefits p {
    display: flex;
    align-items: center;
    font-size: 16px;
   
    
}

.buttons {
    margin-top: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin: 5px;
    border: none;
    cursor: pointer;
}
.btn-red {
    background-color: #BC2229;
}
.btn-blue {
    background-color: #EAEAEA;
    color: #231751;
    border: solid 1px #C1BCD1;
}
.benefits img{
    
    
    margin-right: 10px;
}


