body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    

}
.container{
    display: flex;
    max-width: 1000px;
    margin-top:40px;
    

}
 .card{
    text-align: center;
    width: 400px;
    padding: 20px;
    background-color: white;

 }
 h2{
    font-size: 20px;
    font-weight: bold;
 }
 .date{
    font-size: 15px;
    color: gray;
 }
 img{
    width: 100%;
    height: auto;
    
    
 }
 .description{
    font-size: 15px;
    color: gray;
    padding: 10px;
 }
 .btn{
    padding: 10px 20px;
    margin-top: 10px;
    border: 1px solid black;
    background:white;
    font-size: 13px;
font-weight: bold;
border-radius: 2px;
 }
 .separator{
    width: 1px;
    background-color: #ccc;
    height: 100%;
 }
 .ac{
   width: 1px;
    background-color: #131010;
    height: 100%;
   
 }
 